* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;
}
body {
    background-color: #f5e1b6;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #14213D;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.tablist {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 30px;
}

.tab {
    height: 50px;
}

.tablink {
    color: #fca311;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 15px;
    height: 100%;
    white-space: nowrap;
    font-size: 25px;
}

.homelogo {
    display: flex;
    align-items: center;
    color: #f44c3d;
    cursor: pointer;
    text-decoration: none;
    font-size: 40px;
    gap: 10px;
    font-weight: bold;
}



.homelogo {
    display: flex;
    align-items: center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.homelogo i {
    color:#f44c3d;
    font-size: 38px;
}
.homelogo span {
    color: #ffffff;
    font-size: 30px;
}

.homelogobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    background: transparent;
    border: 5px solid;
    border-color: #fca311;
    border-radius: 10px;
    padding: 5px 10px;
    white-space: nowrap;
    gap: 20px;
}


.topmenu {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.contactbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 15px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #f44c3d;
    color: #ffffff;
    font-size: 25px;
}

.homelogo:hover {
    transform: scale(1.10);
    transition: all 0.5s ease;
}

.button:hover {
    background: #219EBC;
    font-size: 30px;
    transition: all 0.5s ease;
}

.tablink:hover {
    color: #f44c3d;
    font-size: 30px;
    transition: all 0.5s ease;
}

.hamburgerlist {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;

}

.welcomesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    text-align: center;
}
.welcomesectionbox {
    height: auto;
    width: 70%;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    border: 5px solid #14213D;
}

.welcomesection h1 {
    width: 100%;
    font-size: 60px;
    color: #14213D;
    font-weight: bold;
    margin-top: 30px;
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #14213D;

}
.highlight {
    color: #fb8500
}
.welcomedesc {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    color:#14213D;
    
}

@media screen and (max-width: 960px){
    .hamburgerlist {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }

    .tablist {
        display: flex;
        flex-direction: column;
        background-color: #14213D;
        position: fixed;
        top: 80px;
        right: -500px;
        width: 500px;
        height: 260px;
        transition: right 0.5s ease;
        border-radius: 20px;
        
    }
    .tablist.active {
        right: 0px;
    }

    .homepage {
        text-align: left;
    }
    .homepage h1 {
        font-size: 50px;
    }
    .homepage p {
        font-size: 16px;
    }
}